<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internet.store.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internet.store.controllers.usercontroller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/user/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userDelete</servlet-name>
        <servlet-class>internet.store.controllers.usercontroller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDelete</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internet.store.controllers.usercontroller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProduct</servlet-name>
        <servlet-class>internet.store.controllers.productcontroller.GetAllProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProduct</servlet-name>
        <url-pattern>/product/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manageAllProduct</servlet-name>
        <servlet-class>internet.store.controllers.productcontroller.ManageProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manageAllProduct</servlet-name>
        <url-pattern>/product/manage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>internet.store.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/user/inject</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productCreate</servlet-name>
        <servlet-class>internet.store.controllers.productcontroller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productCreate</servlet-name>
        <url-pattern>/product/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shoppingCartAddProduct</servlet-name>
        <servlet-class>internet.store.controllers.shoppingcartcontroller.AddProductToShoppingCartController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingCartAddProduct</servlet-name>
        <url-pattern>/shopping-cart/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productFromShopCart</servlet-name>
        <servlet-class>internet.store.controllers.shoppingcartcontroller.ManageShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productFromShopCart</servlet-name>
        <url-pattern>/shopping-cart/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productRemoveFromShopCart</servlet-name>
        <servlet-class>internet.store.controllers.shoppingcartcontroller.RemoveProductFromShoppingCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRemoveFromShopCart</servlet-name>
        <url-pattern>/shopping-cart/product/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>internet.store.controllers.ordercontroller.CreateOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/order/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>displayOrder</servlet-name>
        <servlet-class>internet.store.controllers.ordercontroller.GetOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayOrder</servlet-name>
        <url-pattern>/order/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUserOrder</servlet-name>
        <servlet-class>internet.store.controllers.ordercontroller.GetUserOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUserOrder</servlet-name>
        <url-pattern>/user/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allStoreOrder</servlet-name>
        <servlet-class>internet.store.controllers.ordercontroller.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allStoreOrder</servlet-name>
        <url-pattern>/order/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>internet.store.controllers.ordercontroller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>internet.store.controllers.productcontroller.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
</web-app>
